.food {
    border: 10px solid rgb(21, 21, 21);
    width: 300px;
    margin: 50px;
    padding: 2;
    height: 200px;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(226, 43, 43);
    }

    body{
    background-image:url(https://as2.ftcdn.net/v2/jpg/02/94/26/33/1000_F_294263329_1IgvqNgDbhmQNgDxkhlW433uOFuIDar4.jpg);

    }

    #mainMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul li{
        color: aqua;
        font-size: 25px;
        text-align: center;
    }




    .food img{
        width:300px; 
        height:200px ;

    }

    h1{
        font-size: 75px;
        font-weight: bolder;
        color: antiquewhite;
        text-align: center;
    }


    
  .container {
    
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-align: center;
    padding: 30px;
}
 
.asking {
    font-size: 24px;
    margin-bottom: 20px;
}
 
.question label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #f5eeee;
}